[user]
	name = John Lin
	email = johnlinp@gmail.com
[merge]
	tool = vimdiff
[core]
	editor = vim
[color]
	ui = true
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[push]
	default = current
